$primary-color-text: #20e2d7;

.img-fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid $primary-color-text;
  }
}
